*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    border-collapse: collapse;
    margin: auto;
    border-color: black;
    text-align: center;
}
caption{
    font-size: 25px;
    color: orange;
}
h1{
    color: blue;
    font-weight: bold;
    text-align: center;
}
th{
    width: 100px;
    color: black;
    font-weight: bold;
    background-color: blanchedalmond;
    padding: 30px;
    font-size: 25px;
}
td,th{
    border: 1px solid;
}
td.LMSGI{
    background-color: blueviolet;
}
td.BD{
    background-color: greenyellow;
}
td.PED{
    background-color: gray;
}
td.SI{
    background-color: red;
}
td.TUT{
    background-color:darkkhaki;
}
td.AN{
    background-color: green;
}
td.DIW{
    background-color: darkcyan;
}
td.IPOI{
    background-color: dodgerblue;
}
#descans{
    font-size: 20px;
    padding: 15px;
}
td.hora{
    font-size: 20px;
    padding: 10px;
    width: 180px;
}
